<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <div class="container">
        <div class="logo">VISTORIA</div>

    <div class="login-box">
        <h2>Edit Product</h2>
        <form action="/updateproduct" method="POST">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <div class="input-group">
            <input type="text" id="name" name="name" value="<%= product.name %>" required><br><br>
            <label for="name">Product Name:</label>
        </div>
        <div class="input-group">
            
            <input type="text" id="price" name="price" value="<%= product.price %>" required><br><br>
            <label for="price">Price:</label>
        </div>  
        <div class="input-group">
            
            <input type="text" id="offer" name="offer" value="<%= product.offer %>" required><br><br>
            <label for="offer">Offer:</label>
        </div>
        <div class="input-group">
            
            <textarea id="detail" name="detail" required><%= product.detail %></textarea><br><br>
            <label for="detail">Detail:</label>
        </div>
        <div class="input-group">
            
            <input type="email" id="email" name="email" value="<%= product.email %>" required><br><br>
            <label for="email">Email:</label>
        </div>
            <button type="submit" class="btn">Save Changes</button>
        </form>
    </div>
</div>
</body>
</html>
